body {
	margin: 0;
}

header{
	background: #FD9901;
	color: #fff;
	width: 100%;
	height: 100px;
	padding: 20px;
	box-sizing: border-box;
}

div.canvas{
	width: 90%;
	height: 500px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}